name: PMD Code Analysis

on:
  push:
    branches:
      - '**'

jobs:
  pmd:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Run PMD
        uses: pmd/pmd-github-action@v1
        with:
          version: '7.0.0-rc4'
          rulesets: >
            category/java/bestpractices.xml,
            category/java/code-style.xml,
            category/java/errorprone.xml